
body{
    font-family: 'Sen', sans-serif;
    margin: 0%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.5fr 4fr 0.1fr;
    grid-template-areas: 
    "header header header"
    "tips tips tips"
    "main main main"
    "footer footer footer";

}




header{
    
    grid-area: header;
    display: inline-flexbox;
}

.logo {
    margin-left: 2em;
    margin-top: 1em;
    height: 100px;
    width: 200px;
}
section{
    float: right;
    margin-top: 2em;
    margin-right: 1em;
}

.account{
    display: flex;
    color: white;
    background-color: red;
    border: 1.5px solid white;
    border-radius: 2em;
    margin-top: 0.5em;
}

.account:hover{
    background-color: white;
    color: red;
    transition: 0.5s ease-in;
}

.loguit{
    display: flex;
    color: white;
    background-color:red;
    border: 1.5px solid white;
    border-radius: 2em;

}

.loguit:hover{
    background-color: white;
    color: red;
    transition:  0.5s ease-in;

}

.pages{
    grid-area: header;
    margin-top: 6.5em;

}

.list{
    display:block;
    font-size: 20px;
    padding: 8px;
    text-decoration: none;
    color: black;
    
}

ul{
    list-style-type: none;
}

li{
    float: left;
}

li a:hover{
    color: red;
    transition: 0.5s ease;

}


main{
    display: flex;
    flex-direction:column ;
    flex-wrap: wrap;
    grid-area: main;
}

.recommended{
    height: 25em;
    width: 26em;
    margin-left: 2em;
<<<<<<< HEAD
    border-radius: 0.5em;
    overflow:

}

.news{
    width: 22em;
    height: 10em;
    display: flex;
    animation: slide 10s infinite ;
}

.newsimg{
    width: 22em;
    height: 10em;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-100%);
    }

    55% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-200%);
    }

    80% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(-300%);
    }
=======
    background-color: lightgray;
    overflow: hidden;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
>>>>>>> ae12caa3c24d34d4b98f57159477096ba5fe341b
}

.mijnboeken{
    height: 15em;
    width: 26em;
    margin-top: 1.5em;
    margin-left: 2em;
    background-color: lightgray;
}
p{
    padding-top: 0.5em;
 }
 
 
 aside::-webkit-scrollbar{
     display: block;
 }
 
 .titelaan{
     margin-left: 4.8em;
     font-size: 25px;
     color: white;
 }
 
 .carouselbox{
     display:flex;
     flex-direction: row;
     flex-wrap: wrap;
     margin-left: 0.1em;
     scroll-snap-type: y mandatory;
     overflow-y: scroll;    
     
 }
 
 .carouselbox::-webkit-scrollbar {
     display: 
 }
 
 .carousel{
     scroll-snap-align: start;
 
 }
 
 .carouselimg{
     padding: 0.5em;
     height: 10em;
     width: 6em;
 }

footer{
    grid-area: footer;
    background-color: black;
}


@media screen and (min-width: 590px) {

 main{
    display: flex;
    flex-direction: row;
    grid-area: main;
    

}
}

