* {
  box-sizing:border-box;
}

html {
  height:100vh;
  background-color: #f5f5f5;
}

body {
  height:100vh;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color:#25167a;
  width:30em;
  background-color: #fff;
  margin:0 auto;
}
body > * {
  padding:.75rem
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
  padding:0;
}
a {
  color: #25167a;
}

li a {
  cursor: pointer;
  border: none;
  font-weight: normal;
  display: flex;
  justify-content: flex-start;
  align-items:stretch;
  margin: .75rem 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
}
li a span {
  background-color: #25167a;
  color:#fff;
  padding:.5rem 0;
  flex:1 auto;

}
li a:hover span {
  background-color: #685FAE;
}
li a:hover svg path {
  fill: #685FAE;
}
a svg {
  height: 41px;
  width: 36px;
  fill: #25167a;
}
a svg:last-child {
  transform: rotate(
    180deg
    );
}
header a {
  width: 300px;
  height: 42px;
  display:block
}
main {

}